# Python compiled files
__pycache__/
*.py[cod]

# Saved results
results/*/*.png
results/*/*.stl
results/*/*.vti
results/*/*.3mf
results/*/*_creation/
results/*/*_displacement/

# Test outputs
/Tests/test_output*
.coverage

# Build (when an executable is created)
/dist/
/build/
