name: Run Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libegl1 libegl-mesa0 libxkbcommon-x11-0

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest black==25.9.0 ruff

      - name: Lint with Ruff
        run: |
          echo "Running ruff (linter & analyzer) check..."
          ruff check .

      - name: Check formatting with Black
        run: |
          echo "Running black (code formater) check..."
          black --check .

      - name: Run tests
        run: |
          echo "Running tests..."
          pytest -v --cov=app --cov-report=term-missing --cov-fail-under=70